# Regression Analysis

Suppose you have dataset with cars (CO2_passenger_cars2018b.csv). You what to know what features contribute to the increase of CO2 emission 

**1** Import needed libraries

**2** read data from file

**3** list dataset showing first 5 lines. View data types

**4** verify possible values of categoric variable Ft

**5** convert Petrol to PETROL and Diesel to DIESEL

**6** verify again values of categoric variable Ft

**7** convert variables 'm (kg)','ec (cm3)','ep (KW) and 'Enedc (g/km)' to numeric

    If ‘raise’, then invalid parsing will raise an exception
    If ‘coerce’, then invalid parsing will be set as NaN
    If ‘ignore’, then invalid parsing will return the input

**8** remove all lines with NaN from df dataset and set to XY

**9** create a Y vector and X matrix

**10** create a regression model

**11** analyse correlation between variables. Use seaborn. Like for example in:

    import seaborn as sns
    import matplotlib.pyplot as plt
    fig = plt.figure(figsize=[12, 12])
    corr_mtx = XY.corr()
    sns.heatmap(corr_mtx, xticklabels=corr_mtx.columns, yticklabels=corr_mtx.columns, annot=True, cmap='Blues')
    plt.title('Correlation analysis')
    plt.show()

**12** convert Ft into dummy variables

**13** add dummy variable to a new data set XY2

**14** create a Y vector and X matrix

**15** create a regression model

In [11]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans

In [23]:
cv=pd.read_csv("CO2_passenger_cars2018b.csv", sep=",")
cv.head()

   Fabricante CommercialName m (kg)  Enedc (g/km)      Ft ec (cm3)  ep (KW)
0  VOLKSWAGEN           GOLF   1375         104.0  DIESEL     1598     85.0
1  VOLKSWAGEN           GOLF   1340         119.0  PETROL     1498    110.0
2  VOLKSWAGEN           GOLF   1320         120.0  PETROL     1498    110.0
3  VOLKSWAGEN           POLO   1145         104.0  PETROL      999     70.0
4  VOLKSWAGEN           POLO   1145         104.0  PETROL      999     70.0

In [24]:
cv.dtypes

Fabricante         object
CommercialName     object
m (kg)             object
Enedc (g/km)      float64
Ft                 object
ec (cm3)           object
ep (KW)           float64
dtype: object

In [26]:
for i in range(3,5):
    cv.iloc[:,i]=pd.to_numeric(cv.iloc[:,i], errors='coerce')
cv.dtypes

Fabricante         object
CommercialName     object
m (kg)             object
Enedc (g/km)      float64
Ft                float64
ec (cm3)           object
ep (KW)           float64
dtype: object