In [2]:
# Write "My name is ___" in Python;
a= "José"
print("My name is " + a)

My name isJosé

In [3]:
# Declare a variable a = 3 and print a;
a=3
print(a)

3

In [4]:
# Declare a variable b = 1.1 and print b;
b=1.1
print(b)

1.1

In [5]:
# Declare a variable c = a + b and print c;
c=a+b
print(c)

4.1

In [7]:
# What is the result of the multiplication of 43 by 37?
43*37

1591

In [8]:
# What is the rest of dividing 71 by 3 ?
71%3

2

In [10]:
#Prints today's date;
print("Today is %02d/%02d/%04d" % (30,12,2019))

Today is 30/12/2019

In [15]:
# Create the word "midterm" through concatenation;
a="mid"
b="term"
c=a+b
c

'midterm'

In [16]:
# Print the number of letters of the word created above;
len(c)

7

In [17]:
#Print the word above in capital letters;
c.upper()

'MIDTERM'

In [22]:
# Declares the variable age. Prints the message "You can retire" if your age is over 65;
age=int(input("What is your age: "))
if age<=65:
    print("You still have a few years of work")
else:
    print("You can retire")

What is your age: 89
You can retire

In [35]:
#Declares the variable income corresponding to the annual wage. Print the following messages under the conditions:
income=int(input("What's your annual wage: "))
if income<=8000:
    print("Your income tax rate is equal to 17%")
else:
    if income<=11000:
        print("Your income tax rate is equal to 24%")
    else:
        print("Your income tax rate is equal to 35%")

What's your annual wage: 7000
Your income tax rate is equal to 17%

In [38]:
# Prints all values between 27 and 33;
for i in range(27,34):
    print(i)

27
28
29
30
31
32
33

In [49]:
#Declares the divisor variable = 10. While the remainder of the division between 93 and the divisor is different from 0 prints the divisor and decrements it ;
divisor=11
while 93%divisor!=0:
    divisor-=1
    print("The divisor is: " + str(divisor))
    print("The rest is " + str(93%divisor))

The divisor is: 10
The rest is 3
The divisor is: 9
The rest is 3
The divisor is: 8
The rest is 5
The divisor is: 7
The rest is 2
The divisor is: 6
The rest is 3
The divisor is: 5
The rest is 3
The divisor is: 4
The rest is 1
The divisor is: 3
The rest is 0

In [50]:
# State a list with 5 UC's of your course;
listUC=["MAEG","Economics","Management","Finance","Econometrics"]
print(listUC)

['MAEG', 'Economics', 'Management', 'Finance', 'Econometrics']

In [52]:
#Print the third and last UC of your list;
print(listUC[2])
print(listUC[4])

Management
Econometrics

In [54]:
#Print, through an iteration, your list;
for i in listUC:
    print (i)

MAEG
Economics
Management
Finance
Econometrics

In [55]:
# Remove the second UC from your list and add another one
listUC.remove("Economics")
listUC.append("Stochastic Calculus")
print(listUC)

['MAEG', 'Management', 'Finance', 'Econometrics', 'Stochastic Calculus']

In [58]:
# Create a list of the first 7 multiples of 3;
multiples=[]
for x in range(1,8):
    multiples.append(3*x)
print(multiples)

[3, 6, 9, 12, 15, 18, 21]

In [59]:
#Repeat the first line with a Tuple;
listUC=("MAEG","Economics","Management","Finance","Econometrics")
print(listUC)

('MAEG', 'Economics', 'Management', 'Finance', 'Econometrics')

In [63]:
# Declares a dictionary with 6 programming languages excluding Python;
dictpl={1:"P1",2:"P2",3:"P3",4:"P4",5:"P5",6:"P6"}
print(dictpl)

{1: 'P1', 2: 'P2', 3: 'P3', 4: 'P4', 5: 'P5', 6: 'P6'}

In [64]:
#Add Python to the dictionary with key 9
dictpl.update({9:"Python"})
print(dictpl)

{1: 'P1', 2: 'P2', 3: 'P3', 4: 'P4', 5: 'P5', 6: 'P6', 9: 'Python'}

In [66]:
# Print, through an iteration, your dictionary;
for item in dictpl.items():
     print(item)

(1, 'P1')
(2, 'P2')
(3, 'P3')
(4, 'P4')
(5, 'P5')
(6, 'P6')
(9, 'Python')

In [67]:
# Print, through an iteration, all the values of your dictionary;
for value in dictpl.values():
     print(value)

P1
P2
P3
P4
P5
P6
Python

In [68]:
# Print, through an iteration, all the keys of your dictionary;
for key in dictpl.keys():
     print(key)

1
2
3
4
5
6
9

In [73]:
# Declare the set {10,21,6,17};
A=set([10,21,6,17])
print(A)

{17, 10, 21, 6}

In [74]:
# Declare the set {8,20,7,10};
B=set([8,20,7,10])
print(B)

{8, 10, 20, 7}

In [77]:
#Print the union and intersection of the first with the second set;
result1=A.intersection(B)
print(result1)
result2=A.union(B)
print(result2)

{10}
{6, 7, 8, 10, 17, 20, 21}

In [79]:
# Print the difference from the second to the first set
result3=B.difference(A)
print(result3)

{17, 21, 6}

In [80]:
# Print the symmetrical difference of the two sets;
result4=A.symmetric_difference(B)
print(result4)

{6, 7, 8, 17, 20, 21}